.website-header {
  height: .88rem;
  display: flex;
  align-items: center;
  background: #00152A;
  padding: 0 .3rem;
  box-sizing: border-box;

  .website-name {
    font-size: .28rem;
    color: #fff;
    margin-right: 3rem;
    font-weight: bold;
  }

  .website-navbar {
    .nav-tab {
      font-size: .18rem;
      margin-right: .3rem;
      text-decoration: none;
      color: #AFB6BB;
      padding: .05rem .1rem;

      &:hover {
        color: #fff;
      }
    }



    .active {
      background: #1790FF;
      color: #fff;
      display: inline-block;
      border-radius: 15px;
    }

  }
}